header{
    background-color: rgba(255, 255, 255, 0.89);
    width: 100vw;
    height: clamp(30px, 2.5vw, 90px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 1%;
    // background-color: cyan;
    
    // & > * {
    //     margin-top: 0.5% !important;
    //     margin-bottom: 0.5% !important;
    // }
}

nav{
    margin-inline: 5%;
    text-decoration: none;
    width: 100vw;
    height: clamp(20px, 1.8vw, 88px);
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: clamp(3px, 1vw, 8px);
    font-size: clamp(12px, 0.9vw, 30px);
    width: clamp(80px, 15vw, 500px);
    height: clamp(20px, 1.8vw, 80px);
}

h6{
    font-size: clamp(10px, 1vw, 18px);
    font-weight: lighter;
}

#logo-img{
    width: 10%;
    height: 10%;
}