.card-body{
  border-radius: clamp(5px, 2vw, 10px);
  width: clamp(250px, 50vw, 700px);
  height: clamp(200px, 20vw, 350px);
  text-align: center;
  align-content:space-around;
  position: absolute;
  position-area: center;
  background-color: rgba(255, 255, 255, 0.925);
}

#start{
  font-size: clamp(10px, 3.5vw, 20px);
  margin-top: 5%;
  width: clamp(100px, 12vw, 400px);
  height: clamp(40px, 6vw, 50px);
}

p{
  font-size: clamp(20px, 1.9vw, 40px);
  font-weight: lighter;
}