// .background {
//   width: 100vw; // 100% da largura da viewport
//   height: 100vh; // 100% da altura da viewport
//   overflow: hidden; // Esconde qualquer parte da imagem que ultrapasse o container
// }

// .background-image {
//   width: 100%;
//   height: 100%;
//   object-fit: cover; // A imagem cobre todo o container mantendo a proporção
// }
.container{
  display: flex;
}


.card-body{
  border-radius: 10px;
  text-align: center;
  align-content: center;
  width: 40vw;
  height: 20vh;
  position: absolute;
  position-area: center;
  background-color: rgb(247, 247, 247);
}

#start{
  width: 10vw;
  height: 5vh;
}